use-node-version=24.15.0
manage-package-manager-versions=true
engine-strict=true
strict-peer-dependencies=false
auto-install-peers=true
save-exact=true
prefer-frozen-lockfile=true
link-workspace-packages=false
save-workspace-protocol=rolling
publish-branch=main
